# Pandas

### The series Data Structure

In [1]:
import pandas as pd
pd.Series?

In [2]:
food = ['Pizza', 'Pancakes', 'Papaya']
pd.Series(food)

0       Pizza
1    Pancakes
2      Papaya
dtype: object

In [3]:
regNo = [234, 6786, 956]
pd.Series(regNo)

0     234
1    6786
2     956
dtype: int64

In [4]:
food =['Piiza', 'Lasanga', None]
pd.Series(food)

0      Piiza
1    Lasanga
2       None
dtype: object

In [5]:
rollNo = [23, 24, 25, None]    #adding the None to the series will change the datatype of the series from int to float
pd.Series(rollNo)

0    23.0
1    24.0
2    25.0
3     NaN
dtype: float64

In [6]:
#import numpy
import numpy as np

In [7]:
#check the data type of NaN
np.nan == None

False

In [8]:
np.nan == np.nan

False

In [9]:
np.isnan(np.nan)

True

In [10]:
#create  a series
food = {'Tandoori' : 'India',
       'Pizza' : 'Italian',
       'Burgers' : 'America',
       'Chipotle' : 'Mexican'}
f = pd.Series(food)
f

Burgers     America
Chipotle    Mexican
Pizza       Italian
Tandoori      India
dtype: object

In [11]:
f.index

Index(['Burgers', 'Chipotle', 'Pizza', 'Tandoori'], dtype='object')

In [12]:
#We can create the index as array as well
f = pd.Series(['Tandoori', 'Pizza', 'Burrito'], index=['India', 'Italian', 'Canada'])
f

India      Tandoori
Italian       Pizza
Canada      Burrito
dtype: object

In [13]:
#Missing values for the index are assigned as NaN, here index is food not country
food = {'Tandoori' : 'India',
       'Pizza' : 'Italian',
       'Burgers' : 'America',
       'Chipotle' : 'Mexican'}
f = pd.Series(food, index=['Tandoori', 'Pizza', 'Burrito'])
f

Tandoori      India
Pizza       Italian
Burrito         NaN
dtype: object

###  Querying Series

In [14]:
sports = {
    'cricket' : 'India',
    'Sumo' : 'Japan',
    'Khokho' : 'Nepal',
    'Pika-boo' : 'West'
}
s = pd.Series(sports)
s

Khokho      Nepal
Pika-boo     West
Sumo        Japan
cricket     India
dtype: object

In [15]:
s.iloc[3]

'India'

In [16]:
s.loc['cricket']

'India'

In [17]:
s[3]

'India'

In [18]:
s['cricket']

'India'

In [19]:
sports = {
    99 : 'India',
    100 : 'Japan',
    101 : 'Nepal',
    102 : 'West'
}
s = pd.Series(sports)

In [20]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [21]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [22]:
total = 0
for item in s:
    total +=item
print(total)

324.0

In [23]:
total = np.sum(s)
print(total)

324.0

In [24]:
s = pd.Series(np.random.randint(0, 1000, 100000))
s.head()

0    313
1    265
2     67
3    221
4    649
dtype: int64

In [25]:
s.describe()

count    100000.000000
mean        500.187940
std         288.578088
min           0.000000
25%         251.000000
50%         500.500000
75%         750.000000
max         999.000000
dtype: float64

In [26]:
s.count()

100000

In [27]:
len(s)

100000

#### Calculate the time taken per loop, using magic functions (timeit)

In [28]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

100 loops, best of 3: 10.6 ms per loop

In [29]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 70.7 µs per loop

In [30]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    315
1    267
2     69
3    223
4    651
dtype: int64

In [31]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0    317
1    269
2     71
3    225
4    653
dtype: int64

#### Checking which is better way to iterate a series

In [32]:
%%timeit -n 100
s = pd.Series(np.random.randint(0, 1000, 100000))

100 loops, best of 3: 581 µs per loop

In [3]:
# This will take too much time to execute
# %%timeit -n 100
# s = pd.Series(np.random.randint(0, 1000, 100000))
# for label, value in s.iteritems():
#     s.loc[label] = value+2

In [33]:
%%timeit -n 100
s = pd.Series(np.random.randint(0, 1000, 100000))
s +=2

100 loops, best of 3: 983 µs per loop

In [34]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [35]:
originalSports = pd.Series({
        'Archery' : 'Bhutan',
        'Golf' : 'Scotland',
        'Sumo' : 'Japan',
        'Taekwando' : 'South Korea'
    })

CricketLovingCountries = pd.Series([
        'Australia',
        'Barbados',
        'India',
        'England'],
            index=[
        'Cricket',
        'Cricket',
        'Cricket',
        'Cricket'
    ])

allCountries = originalSports.append(CricketLovingCountries)

In [36]:
originalSports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwando    South Korea
dtype: object

In [37]:
CricketLovingCountries

Cricket    Australia
Cricket     Barbados
Cricket        India
Cricket      England
dtype: object

In [38]:
allCountries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwando    South Korea
Cricket        Australia
Cricket         Barbados
Cricket            India
Cricket          England
dtype: object

In [39]:
allCountries['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket        India
Cricket      England
dtype: object