In [7]:
import csv

#%precision 2    #uncomment if you want to limit the floating value to 2

with open('auto-mpg.csv') as dataset:
    mpg = list(csv.DictReader(dataset))

In [2]:
dataset

In [3]:
mpg[:3] # The first three dictionaries in our list.

[{'accel': '12',
  'cyl': '8',
  'displ': '307',
  'hp': '130',
  'mpg': '18',
  'name': 'chevrolet chevelle malibu',
  'origin': '1',
  'weight': '3504',
  'yr': '70'},
 {'accel': '11.5',
  'cyl': '8',
  'displ': '350',
  'hp': '165',
  'mpg': '15',
  'name': 'buick skylark 320',
  'origin': '1',
  'weight': '3693',
  'yr': '70'},
 {'accel': '11',
  'cyl': '8',
  'displ': '318',
  'hp': '150',
  'mpg': '18',
  'name': 'plymouth satellite',
  'origin': '1',
  'weight': '3436',
  'yr': '70'}]

In [4]:
len(mpg)

392

In [5]:
mpg[0].keys()

dict_keys(['yr', 'accel', 'mpg', 'cyl', 'name', 'hp', 'origin', 'displ', 'weight'])

In [6]:
sum(float(d['mpg']) for d in mpg)/len(mpg)      #average mpg

23.44591836734694

In [8]:
sum(float(d['weight']) for d in mpg)/len(mpg)   #average weight

2977.5841836734694

In [9]:
cylinders = set(i['cyl'] for i in mpg)     #store the unique cylinders in a set 
cylinders

{'3', '4', '5', '6', '8'}

In [10]:
abc = list(set(j['name'] for j in mpg))      #store the names in a list
abc[-20:-10]

['subaru',
 'chrysler lebaron salon',
 'saab 99le',
 'plymouth valiant custom',
 'oldsmobile cutlass ls',
 'plymouth arrow gs',
 'dodge rampage',
 'buick century limited',
 'ford fairmont 4',
 'toyota carina']

In [16]:
horsepower = set(k['hp'] for k in mpg)   # if you want to store hp's in a set(elements in sets are unique)
horsepower
len(horsepower)

93

In [17]:
mpg[0].keys()

dict_keys(['yr', 'accel', 'mpg', 'cyl', 'name', 'hp', 'origin', 'displ', 'weight'])

In [18]:
len(mpg)

392

In [19]:
mpg[391:]

[{'accel': '19.4',
  'cyl': '4',
  'displ': '119',
  'hp': '82',
  'mpg': '31',
  'name': 'chevy s-10',
  'origin': '1',
  'weight': '2720',
  'yr': '82'}]

In [20]:
originOfTheCar = set(l['origin'] for l in mpg)
originOfTheCar

{'1', '2', '3'}

In [21]:
originOfTheCarAsList = list(originOfTheCar)
originOfTheCarAsList

['1', '3', '2']

In [22]:
cylinders

{'3', '4', '5', '6', '8'}

In [23]:
for c in cylinders:
    print(c)

4
3
6
8
5

### grouping the cars by number of cylinder, and finding the average mpg for each group

In [24]:
mpgByCyl = []

for i in cylinders:
    summpg = 0
    cylTypeCount = 0
    for j in mpg:
        if j['cyl'] == i:
            summpg += float(j['mpg'])
            cylTypeCount += 1
    mpgByCyl.append((i, summpg / cylTypeCount))
    
mpgByCyl

[('4', 29.283919597989957),
 ('3', 20.55),
 ('6', 19.973493975903615),
 ('8', 14.963106796116508),
 ('5', 27.366666666666664)]

In [25]:
mpgByCyl.sort(key=lambda x:x[0])     ##sort by cylinder
mpgByCyl

[('3', 20.55),
 ('4', 29.283919597989957),
 ('5', 27.366666666666664),
 ('6', 19.973493975903615),
 ('8', 14.963106796116508)]

##  Some operations on data

Class in pyton

In [29]:
class College:    #class name
    collegeName = 'Illinois Tech'    #a class variable
    
    #define a method in the class
    def set_name(thisVariable, variableForName):
        thisVariable.name = variableForName
    #define another methd
    def set_deparment(thisVariable, variableForDept):
        thisVariable.dept = variableForDept

In [30]:
college = College()
college.set_name('Raj Dutta')
college.set_deparment('Computer Science')
print('{} is enrolled in {} department in {} University'.format(college.name, college.dept, college.collegeName))

Raj Dutta is enrolled in Computer Science department in Illinois Tech University

## Example of mapping, by comparing two list

In [50]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)     #parameter is function and two lists
cheapest

In [51]:
#we can also iterate through the map object to see the values
for i in cheapest:
    print(i)

9.0
11.0
12.34
2.01

In [52]:
my_function = lambda a, b, c : a + b
my_function(123, 123, 234)

246

Operations on lists

In [64]:
listOfEvenNumbers = []

for i in range(0, 1000):
    if i%2 == 0:
        listOfEvenNumbers.append(i)
listOfEvenNumbers[:10]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

<b>This is called the list comprehension:</b>

In [65]:
easyList = [i for i in range(0,1000) if i%2==0]
easyList[:10]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [69]:
a = [i for i in cylinders]
a

['4', '3', '6', '8', '5']